@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1 {
    font-family: 'Bebas Neue';
    font-size: 2rem;
    color: black;
    letter-spacing: 1px;
  }
  h2 {
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    color: black;
    letter-spacing: 1px;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24;
    color: black;
  }
  p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18;
    color: black;
  }
  * {
        font-family: 'Montserrat', sans-serif;
    }

body {
    display:grid;
    place-items:center;
    min-height: 100vh;
    line-height: 1.6;
    grid-column: 100%;
    font-family: 'Montserrat', sans-serif;
    grid-template-areas: 
    "header"
    "banner"
    "work"
    "footer";
}

/*header*/
header {
    grid-area: header;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo {
    cursor: pointer;
    max-width: 165px;
    margin-left: 20px;
    }
    
    .nav_links {
    list-style: none;
    margin-left: 35px;
    padding: 35px;
    text-decoration: none;
    }
    
    .nav_links li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    }
    
    .nav_links li a {
    transition: all 0.3s ease 0s;
    color:black;
    text-decoration: none;
    }
    
    .nav_links li a:hover {
        color: rgb(255, 165, 0);
        border-style: solid;
        border-color:rgb(255, 165, 0);
        border-radius: 20px;
        padding: 5px;
        }  
    
 
    .card {
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        width: 100%;
        display:flex;
        flex-direction:column;
        color: pink;
        text-align: center;
        padding: 1em;
        column-gap: 20px;
        margin: 1rem;
    }
    .card:hover {
        box-shadow: 0 0 20px rgba(255, 194, 82, 0.5);
        transition: 0.5s;
    }
    /* .profile-image {
        max-width: 100%;
        align-items: center;
        margin-left: 10px;
    } */
/*     
    .profile-image:hover {
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        scale: 1.1;
    } */
    
    /* .profile-name {
        font-size:2rem;
        line-height:0.5;
        min-width: 400px;
    }
    
    .profile-body {
        margin-bottom:0;
    } */

/*banner*/

.profileCard {
    width: 100%;
    display:flex;
    flex-direction:column;
    color: white;
    text-align: left;
    padding: 1em;
    margin: 1rem;
}
.sidebar {
    width: 50%;

}
.profile-sidebar img{
    width:100%;
    
}

.profile-main {
    width: 60%;
    box-shadow: #FFDAA3;
}
.skillsList {
    list-style: none;
    line-height: 1.5;
    display:flex;
    flex-direction:column;
}
.contactList {
    display:inline-block;
    list-style: none;
    margin: auto;
    padding: 35px;
    text-decoration: none;
    align-items: center;
}
.resume {
    display:inline-block;
    background-color: #FFDAA3;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    color: black;
    transition: 0.5s
    /* display:inline-block;
    background-color: rgb(255, 165, 0);
    color: white;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    border-radius: 45px;
    justify-content: center;
    font-family: Montserrat;
    font-size: 20px; */
}
.resume:hover {
    display:inline-block;
    background-color: #FFDAA3;
    border-style: solid;
    border-color:rgb(255, 165, 0);
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
    width: 150px;
    color: black;
    transition: 0.3s
}

.footer {
    grid-area: footer;
    align-items: center;
    display: inline-block;
    margin-bottom: 50%;
  }
  .footer_buttons {
    grid-area: footer;
    display:inline-block;
    height:5px;
    width:5px;
    padding:25px;
    opacity: 70%;
  }
  .footer_buttons:hover {
    grid-area: footer;
    display:inline-block;
    opacity: 100%;
    transition: 0.5s
  }
@media (min-width: 450px) {
    .card {
        flex-direction:row;
    }

    .profile-main {
        text-align:left;
        margin-left:2em;
    }

    .profile-name::after {
        margin-left:0;
    }

    .skillsList {
        flex-direction:row;
        column-gap: 10%;
    }
}